<launch>
  <arg name="model" default="$(find rtr_double_arm_v7_description)/urdf/RTRDoubleArmV7A.urdf.xacro"/>

  <!-- description -->
  <param name="RTRDoubleArmV7/robot_description" command="$(find xacro)/xacro --inorder '$(arg model)'"/>

  <!-- state publisher -->
  <node ns="RTRDoubleArmV7" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"/>
   
  <!-- load the controllers -->
  <rosparam file="$(find rtr_double_arm_v7_control)/config/rtr_double_arm_v7_joint_state_control.yaml" command="load"/>
  <!-- <rosparam file="$(find rtr_double_arm_v7_control)/config/rtr_double_arm_v7a_effort_control.yaml" command="load"/> -->
  <rosparam file="$(find rtr_double_arm_v7_control)/config/rtr_double_arm_v7_arm_control.yaml" command="load"/>
  <rosparam file="$(find rtr_double_arm_v7_control)/config/rtr_double_arm_v7a_diff_drive_control.yaml" command="load"/>
  
  <node name="rtr_double_arm_v7_controller_spawner" pkg="controller_manager"
    	type="spawner" output="screen" respawn="true"
    	args="--namespace RTRDoubleArmV7
              tohoku_arm_controller
              mani_arm_controller
              tohoku_gripper_controller
              mani_gripper_controller
              base_controller"/>
</launch>
